<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Jojojo</h1>

    <form method="post">
        <input type="text" id="push to talk triggerkey" name="push to talk triggerkey" placeholder="{{ preference_triggerkey }}">
        <label for="push to talk triggerkey">Push to Talk Triggerkey</label>
        <button type="submit">Ändern</button>
    </form>

</body>
</html>