<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <no ai></no>
</head>
<body>
    Hihi hello wörld

    <h1>Charvis System</h1>

    <form method="post">
        <h2>Eingabemodus ändern</h2>

        <input type="radio" name="eingabemodus_neu" value="speech" id="speech">
        <label for="speech">Speech</label>
        <input type="radio" name="eingabemodus_neu" value="terminal" id="terminal">
        <label for="terminal">Terminal</label>

        <button type="submit">Submit</button>
    </form>





        <input type="radio" name="modus" value="An">
        <input type="radio" name="modus" value="Aus">
        <input type="radio" name="modus" value="Noch_Was">

        <button type="submit">Submit</button>







        <br>
        <br>
        <br>
        <a href="{{ url_for('einstellungen') }}">⚙️</a>




<br>
<br>
    <form method="post">
        <button type="submit">test</button>
    </form>
</body>
</html>