<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <no ai></no>
</head>
<body>

    <h1>Charvis System</h1>

    <form method="post">

        <h2>Input-Optionen an und ausschalten</h2>

        <input type="checkbox" name="input_options_value" value="speech" id="speech">
        <label for="speech">Speech</label>
        <input type="checkbox" name="input_options_value" value="terminal" id="terminal">
        <label for="terminal">Terminal</label>

        <button type="submit">Ändern</button>
    </form>

    <br>
    <br>
    <br>

    <a href="{{ url_for('einstellungen') }}">⚙️</a>

</body>
</html>